<div ng-include="'nav-opennet.html'"></div>

<h1>About OpenNet</h1>
<p>The OpenNet website:</p>
<a href="https://opennet.nu/en/about-opennet/" target="_blank"><img src="../images/opennet-logo-dark-retina.png" height="100px"></a>
<br>
<h1>Demo Solution Team</h1>
<div class="col-md-9">
    <table class="table table-striped">
        <tr>
            <td>Systems Engineer</td><td>Henrik Bønnelycke</td><td>Network Design & Configuration. NSO Setup.</td>
        </tr>
        <tr>
            <td>Systems Engineer</td><td>Atle Heimnes</td><td>Network Design & Configuration</td>
        </tr>
        <tr>
            <td>Apprentice, Agile Development Team, Paris</td><td>Aymeric De Javel</td><td>NSO Solution Design</td>
        </tr>
        <tr>
            <td>SE, Agile Development Team, Paris</td><td>Chenxi Du</td><td>NED Design and consultancy</td>
        </tr>
        <tr>
            <td>Customer Solutions Architect</td><td>Bo Finnemann</td><td>Design & Development, NSO Solution and Web App</td>
        </tr>
        <tr>
            <td>Manager, Agile Development Team, Paris</td><td>Patrice Nivaggioli</td><td>Resources and Inspiration</td>
        </tr>
        <tr>
            <td>Manager, Systems Engineering</td><td>Michael Nielsen</td><td>Solution Design</td>
        </tr>
    </table>
</div>
<p></p>