<div ng-include="'nav-opennet.html'"></div>

<h1>Service Providers</h1>
<div ng-show="!newEntry && !editEntry">
    <h2>List of entries ({{ collection.length }}) </h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="14%">SP ID</th>
                <th width="12%">SP VLAN offset</th>
                <th width="12%">MVR VLAN </th>
                <th width="28%">Services</th>
                <!-- <th width="16%">VLAN Pool</th> -->
                <th width="14%">Status</th>
                <th width="20%">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in collection">
                <td>{{ item.sp_id }}</td>
                <td>{{ item.s_vlan_offset }}</td>
                <td>{{ item.mvr_vlan }}</td>
                <td>
                    <span ng-repeat="service in item.services.service">
                        <p>
                            <strong>{{ service.id }}</strong>. VLAN's: 
                            <span ng-repeat="vlan in service.vlans">
                                <strong ng-show="vlan.multicast">{{vlan.vlan}}</strong>
                                <span ng-show="!vlan.multicast">{{vlan.vlan}}</span>, 
                            </span>
                        </p>
                    </span>
                </td>
                <!-- <td>{{ item.mvr_receiver_vlan }}</td> -->
                <!-- <td>{{ item.vlan_pool.start }} - {{ item.vlan_pool.end }}</td> -->
                <td>
                    <a class="btn btn-primary" ng-click="checkSync(item)">
                        <i class="glyphicon glyphicon-repeat"></i>
                    </a>
                    {{ item.sync_status.in_sync }}
                </td>
                <td>
                    <a class="btn btn-primary" ng-click="editItem(item)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="unDeployItem(item)">
                        <i class="glyphicon glyphicon-stop"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="reDeployItem(item)">
                        <i class="glyphicon glyphicon-play"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="collection == null">
                <td>There are no entries</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="collection != null">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-edit"> </span> Edit the SP (not implemented yet).
        <span class="glyphicon glyphicon-trash"> </span> Rollback / delete the SP (not implemented yet).
        <span class="glyphicon glyphicon-stop"> </span> Un-deploy. 
        <span class="glyphicon glyphicon-play"> </span> Re-deploy. 
        <span class="glyphicon glyphicon-repeat"> </span> Check Sync. 
    </p>
</div>
