<div ng-include="'nav-opennet.html'"></div>

<h1>Access Areas ({{ collection.length }})</h1>
<div ng-show="!newEntry && !editEntry">
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">Access Area ID</th>
                <th width="20%">Description</th>
                <th width="50%">Nodes, Interfaces and SP VLAN Number</th>
                <th width="15%">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in collection">
                <td>{{ item.access_area_id }}</td>
                <td>{{ item.access_area_description }}</td>
                <td>
                    <span ng-repeat="node in item.nodes.node">
                        <p>
                            Node: <strong>{{ node.access_node_id }}</strong>
                            <a class="btn btn-primary" ng-click="deleteService(item.access_area_id, node.access_node_id)">
                                <i class="glyphicon glyphicon-fire"></i>
                            </a>
                        </p>
                        <p>
                            with Interfaces: 
                            <span ng-repeat="interface in node.interfaces.interface">
                                <strong>{{interface.access_if}}</strong>, 
                            </span>
                        </p>
                        <p>SP VLAN Number: <strong>{{ node.s_vlan_num }}</strong> </p>
                        <hr>
                    </span>
                </td>
                <td>
                    <a class="btn btn-primary" ng-click="editItem(item)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="addServiceToggle(item)">
                        <i class="glyphicon glyphicon-gift"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="collection == null">
                <td>There are no entries</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="collection != null">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-edit"> </span> Edit the Access Area (not implemented yet).
        <span class="glyphicon glyphicon-trash"> </span> Delete the Access Area.
    </p>
</div>
<hr>
<div ng-show="newEntry">
    <form name="formNewItem" ng-submit="generateItem()" novalidate>
        <h2 class="form-signin-heading">New Access Area Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">Access Area ID</label>
                <input type="text" id="access_area_id" class="form-control" ng-model="access_area_id" placeholder="Access Area ID" required>
            </div>
            <div class="form-group col-md-4">
                <label for="description">Access Area Description</label>
                <input type="text" id="description" class="form-control" ng-model="description" placeholder="Access Area Description" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="row actions" ng-show="!newEntry && !editEntry && !newService">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newEntryToggle()">New Access Area</a>
    </div>
</div>

<!-- NEW NODE FORM -->
<div ng-show="newService">
    <form name="formNewService" ng-submit="generateService()" novalidate>
        <h2 class="form-signin-heading">New Node for Access Area {{editItem.access_area_id}}</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="access_node_id">Node ID</label>
                <input type="text" id="access_node_id" class="form-control" ng-model="access_node_id" placeholder="Node ID" required>
            </div>
            <div class="form-group col-md-3">
                <label for="s_vlan_num">S VLAN increment</label>
                <input type="number" id="s_vlan_num" class="form-control" ng-model="s_vlan_num" placeholder="S VLAN increment" required>
            </div>
        </div>
        <h3 class="form-signin-heading">Ports, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in vlanArray">
                <div class="form-group col-md-3" ng-show="vlanShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Port designation {{z+1}}</label>
                        <input type="text" class="form-control" ng-model="vlans[z].vlan" placeholder="Port Designation">
                    </div>
                    <div ng-show="numVlanLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlan(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanBtnShow[1]" ng-click="showVlanLine()">Add a Port</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[2]" ng-click="showVlanLine()">Add a Port</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[3]" ng-click="showVlanLine()">Add a Port</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[4]" ng-click="showVlanLine()">Add a Port</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[5]" ng-click="showVlanLine()">Add a Port</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[6]" ng-click="showVlanLine()">Add a Port</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[7]" ng-click="showVlanLine()">Add a Port</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formNewService.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="addServiceToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div ng-show="editEntry">
    <form name="formEditItem" ng-submit="editItem()" novalidate>
        <h2 class="form-signin-heading">Edit SP Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">Access Area ID</label>
                <input type="text" id="access_area_id" class="form-control" ng-model="access_area_id" placeholder="Access Area ID" required>
            </div>
            <div class="form-group col-md-4">
                <label for="description">Access Area Description</label>
                <input type="text" id="description" class="form-control" ng-model="description" placeholder="Access Area Description" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>