<div ng-include="'nav-opennet.html'"></div>

<h1>Subscriptions ({{ subscriptions.length }})</h1>
<div ng-show="!newEntry && !editEntry">
    <!-- <h2>List of entries ({{ subscriptions.length }})</h2>
    <hr> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Subscription</th>
                <th width="14%">Access</th>
                <th width="12%">PE </th>
                <th width="12%">POI</th>
                <th width="6%">Deployment Status</th>
                <th width="18%">Service Status</th>
                <th width="18%">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subscription in subscriptions">
                <td>
                    <a class="btn btn-default" ng-mouseover="hoverIn(subscription.index)" ng-mouseleave="hoverOut(subscription.index)">
                        {{ subscription.subscription_id }}
                    </a>
                    <span ng-show="showSubDetails[subscription.index]">
                        <hr>
                        <p>SP: {{subscription.sp_id}}</p>
                        <p>Subscriber: {{subscription.subscriber_id}}</p>
                        <p>CPE: {{subscription.cpe_name}}</p>
                        <p>Service: {{subscription.service_id}}</p>
                    </span>
                </td>
                <td>
                    {{ subscription.access_area_id }}
                    <span ng-show="showSubDetails[subscription.index]">
                        <hr>
                        <p>Node: {{subscription.access_node_id}}</p>
                        <p>Interface: {{subscription.db_subscription.access.access_if}}</p>
                        <!-- <p>MVR: {{subscription.newSubAccess.mvr_vlan}} / {{subscription.newSubAccess.mvr_receiver_vlan}}</p> -->
                        <p>MVR: {{subscription.db_subscription.mvr.mvr_vlan}} / {{subscription.db_subscription.mvr.mvr_receiver_vlan}}</p>
                        <!-- <p>VLAN mappings: <span ng-repeat="vlan_mapping in subscription.vlan_mappings.vlan_mapping">{{vlan_mapping.inner_vlan}}/{{vlan_mapping.outer_vlan}}, </span></p> -->
                        <p>VLAN mappings: <span ng-repeat="service in subscription.db_subscription.services">{{service.inner_vlan_id}}/{{service.access_vlan_id}}, </span></p>
                    </span>
                </td>
                <td>
                    {{ subscription.pe_area_id }}
                    <span ng-show="showSubDetails[subscription.index]">
                        <hr>
                        <p>Node: {{subscription.pe_area.node.pe_node_id}}</p>
                        <!-- <p>Interface: {{subscription.newSubPE.pe_interface}}</p> -->
                        <p>Interface: {{subscription.db_subscription.pe.node.pe_if}}</p>
                        <!-- <p>VLAN's: <span ng-repeat="vlan in subscription.newSubPE.vlans.vlan">{{vlan.vlan_id}}, </span></p> -->
                        <p>VLAN's: <span ng-repeat="service in subscription.db_subscription.services">{{service.pe_vlan_id}}, </span></p>
                    </span>
                </td>
                <td>
                    {{ subscription.poi_area_id }}
                    <span ng-show="showSubDetails[subscription.index]">
                        <hr>
                        <p>Node: {{subscription.poi_area.node.poi_node_id}}</p>
                        <!-- <p>Interface: {{subscription.newSubPOI.PWESubInt}}</p> -->
                        <p>Interface: {{subscription.db_subscription.poi.node.poi_if}}</p>
                        <p>PW subint.: {{subscription.db_subscription.poi.node.pw_sub_if}}</p>
                        <!-- <p>VLAN's: <span ng-repeat="c_vlan in subscription.newSubPOI.c_vlans.c_vlan">{{c_vlan.c_vlan_id}}, </span></p> -->
                        <p>VLAN's: <span ng-repeat="service in subscription.db_subscription.services">{{service.poi_vlan_id}}, </span></p>
                    </span>
                </td>
                <td>
                    <span ng-show="subscription.db_subscription.deploymentStatus">Deployed</span>
                    <span ng-show="!subscription.db_subscription.deploymentStatus">Un-deployed</span>
                    <!-- {{subscription.sync_status.in_sync}}
                    {{subscription.db_subscription.deploymentStatus}} -->
                </td>
                <td>
                    <a ng-show="subscription.serviceStatus.status == 0" class="btn btn-primary" ng-click="ipslaIcmp(subscription.index)">
                        Unknown
                    </a>
                    <a ng-show="subscription.serviceStatus.status == 1" class="btn btn-danger" ng-click="ipslaIcmp(subscription.index)">
                        {{ subscription.serviceStatus.timestamp | date:'dd-MM-yyyy HH:mm:ss' : 'CET'  }}
                    </a>
                    <a ng-show="subscription.serviceStatus.status == 2" class="btn btn-warning" ng-click="ipslaIcmp(subscription.index)">
                        {{ subscription.serviceStatus.timestamp | date:'dd-MM-yyyy HH:mm:ss' : 'CET'  }}
                    </a>
                    <a ng-show="subscription.serviceStatus.status == 3" class="btn btn-success" ng-click="ipslaIcmp(subscription.index)">
                        {{ subscription.serviceStatus.timestamp | date:'dd-MM-yyyy HH:mm:ss' : 'CET'  }}
                    </a>
                    <div ng-repeat="service_status in subscription.serviceStatus.services_status">
                        <button ng-show="showSubDetails[subscription.index] && showIpslaSpinner[subscription.index][service_status.index]" class="btn btn-primary">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> {{service_status.access_vlan_id}}: Checking...
                        </button>
                        <button ng-show="showSubDetails[subscription.index] && !showIpslaSpinner[subscription.index][service_status.index] && service_status.status == 0" class="btn btn-primary">
                            {{service_status.access_vlan_id}}: Unknown
                        </button>
                        <button ng-show="showSubDetails[subscription.index] && !showIpslaSpinner[subscription.index][service_status.index] && service_status.status == 1" class="btn btn-danger">
                            {{service_status.access_vlan_id}}: {{service_status.timestamp | date:'dd/MM HH:mm:ss' : 'CET'}}
                        </button>
                        <button ng-show="showSubDetails[subscription.index] && !showIpslaSpinner[subscription.index][service_status.index] && service_status.status == 3" class="btn btn-success">
                            {{service_status.access_vlan_id}}: {{service_status.timestamp | date:'dd/MM HH:mm:ss' : 'CET'}}, RTT: {{ service_status.RTT }}
                        </button>
                    </div>
                    <p ng-show="subscription.showIpslaMessage">{{ subscription.ipslaMessage }}</p>
                </td>
                <td>
                    <a class="btn btn-primary" ng-click="editToggle(subscription.index)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteSubscription(subscription)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="unDeploySubscription(subscription.index)">
                        <i class="glyphicon glyphicon-stop"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="reDeploySubscription(subscription.index)">
                        <i class="glyphicon glyphicon-play"></i>
                    </a>
<!-- 
                    <a class="btn btn-primary" ng-mouseover="hoverIn(subscription.index)" ng-mouseleave="hoverOut(subscription.index)">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
 -->                    
                </td>
            </tr>
            <tr ng-show="!subscriptions[0]">
                <td>There are no entries</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="!newEntry && !editEntry && subscriptions[0]">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-edit"> </span> Move the subscriber/subscription to another access node.
        <span class="glyphicon glyphicon-trash"> </span> Rollback / delete the subscription.
        <span class="glyphicon glyphicon-stop"> </span> Un-deploy. 
        <span class="glyphicon glyphicon-play"> </span> Re-deploy. 
        <!-- <span class="glyphicon glyphicon-zoom-in"> </span> Details. -->
    </p>
</div>
<hr>
<div ng-show="newEntry">
    <form name="formSubscription" ng-submit="generateSubscription()" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <h2 class="form-signin-heading">New Subscription Form</h2>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">Name / Subscription</label>
                <input type="text" id="name" class="form-control" ng-model="name" placeholder="Name" required disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="subscriber_id">Subscriber ID</label>
                <input type="number" id="subscriber_id" class="form-control" ng-model="subscriber_id" ng-change="makeSubscriptionID()" placeholder="Subscriber ID" required>
            </div>
            <i ng-show="formSubscription.subscriber_id.$error.required">*Must be filled in</i>
            <div class="form-group col-md-2">
                <label>CPE</label>
                <select class="form-control" ng-model="cpe_name" name="cpe_name" ng-change="makeSubscriptionID()" required>
                    <option ng-repeat="cpe in inventory.cpes.cpe" value="{{cpe.cpe_name}}">{{cpe.cpe_name}}</option>
                </select>
                <i ng-show="formSubscription.cpe_name.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>Service Provider</label>
                <select class="form-control" ng-model="sp_id" name="sp_id" ng-change="listServices()" required>
                    <option ng-repeat="sp in inventory.sps.sp" value="{{sp.sp_id}}">{{sp.sp_id}}</option>
                </select>
                <i ng-show="formSubscription.sp_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showServices">
                <label>Service</label>
                <select class="form-control" ng-model="service_id" name="service_id" ng-change="makeSubscriptionID()" required>
                    <option ng-repeat="service in services" value="{{service.id}}">{{service.id}}</option>
                </select>
                <i ng-show="formSubscription.service_id.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Access Area</label>
                <select class="form-control" ng-model="access_area_id" name="access_area_id" ng-change="listAccessNodes()" required>
                    <option ng-repeat="access_area in inventory.access_areas.access_area" value="{{access_area.access_area_id}}">{{access_area.access_area_id}}</option>
                </select>
                <i ng-show="formSubscription.access_area_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showAccessNodes">
                <label>Access Node</label>
                <select class="form-control" ng-model="access_node_id" name="access_node_id" ng-change="listAccessInterfaces()" required>
                    <option ng-repeat="access_node in access_nodes" value="{{access_node.access_node_id}}">{{access_node.access_node_id}}</option>
                </select>
                <i ng-show="formSubscription.access_node_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showAccessInterface">
                <label>Interface</label>
                <select class="form-control" ng-model="access_if" name="access_if" required>
                    <option ng-repeat="access_interface in access_interfaces" value="{{access_interface.access_if}}">{{access_interface.access_if}}</option>
                </select>
                <i ng-show="formSubscription.access_if.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>PE Area</label>
                <select class="form-control" ng-model="pe_area_id" name="pe_area_id" required>
                    <option ng-repeat="pe_area in inventory.pe_areas.pe_area" value="{{pe_area.pe_area_id}}">{{pe_area.pe_area_id}}</option>
                </select>
                <i ng-show="formSubscription.pe_area_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>POI Area</label>
                <select class="form-control" ng-model="poi_area_id" name="poi_area_id" required>
                    <option ng-repeat="poi_area in inventory.poi_areas.poi_area" value="{{poi_area.poi_area_id}}">{{poi_area.poi_area_id}}</option>
                </select>
                <i ng-show="formSubscription.poi_area_id.$error.required">*Must be filled in</i>
            </div>
        </div>
<!-- 
        <h3 class="form-signin-heading">VLAN Mappings, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in VMArray">
                <div class="form-group col-md-3" ng-show="vlanMappingShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Inner VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlanMappings[z].inner_vlan" placeholder="Inner VLAN">
                    </div>
                    <div class="col-md-10">
                        <label for="headline">Outer VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlanMappings[z].outer_vlan" placeholder="Outer VLAN">
                    </div>
                    <div ng-show="numVMLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlanMapping(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[1]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[2]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[3]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[4]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[5]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[6]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[7]" ng-click="showVMLine()">Add a VLAN Mapping</a>
        </div>
        <br>
 -->        
        <div class="row">
            <div class="form-group col-md-8">
                <div class="form-group col-md-6">
                    <button ng-disabled="formSubscription.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Cancel</a>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="rgb_loader" ng-show="spinnerStatus"></div>
            </div>
        </div>
    </form>
</div>

<div class="row" ng-show="errorMessage">
    <hr>
    <div>
        <p>An error happened. {{ errorDetails }} </p>
    </div>
</div>

<div class="row actions" ng-show="!newEntry && !editEntry">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newEntryToggle()">New Subscription</a>
    </div>
    <div>
        <div class="rgb_loader" ng-show="spinnerStatusDelete"></div>
    </div>
</div>

<div ng-show="editEntry">
    <form name="formEditSubscription" ng-submit="moveSubscription()" novalidate>
        <div class="row">
            <div class="form-group col-md-6">
                <h2 class="form-signin-heading">Move Subscription Form</h2>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">Name / Subscription</label>
                <input type="text" id="name" class="form-control" ng-model="name" placeholder="Name" required disabled>
            </div>
            <div class="form-group col-md-2">
                <label for="subscriber_id">Subscriber ID</label>
                <input type="number" id="subscriber_id" class="form-control" ng-model="subscriber_id" ng-change="makeSubscriptionID()" placeholder="Subscriber ID" required disabled>
            </div>
            <i ng-show="formSubscription.subscriber_id.$error.required">*Must be filled in</i>
            <div class="form-group col-md-2">
                <label>CPE</label>
                <select class="form-control" ng-model="cpe_name" name="cpe_name" ng-change="makeSubscriptionID()" required>
                    <option ng-repeat="cpe in inventory.cpes.cpe" value="{{cpe.cpe_name}}">{{cpe.cpe_name}}</option>
                </select>
                <i ng-show="formSubscription.cpe_name.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>Service Provider</label>
                <select class="form-control" ng-model="sp_id" name="sp_id" ng-change="listServices()" required disabled>
                    <option ng-repeat="sp in inventory.sps.sp" value="{{sp.sp_id}}">{{sp.sp_id}}</option>
                </select>
                <i ng-show="formSubscription.sp_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showServices">
                <label>Service</label>
                <select class="form-control" ng-model="service_id" name="service_id" ng-change="makeSubscriptionID()" required disabled>
                    <option ng-repeat="service in services" value="{{service.id}}">{{service.id}}</option>
                </select>
                <i ng-show="formSubscription.service_id.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Access Area</label>
                <select class="form-control" ng-model="access_area_id" name="access_area_id" ng-change="listAccessNodes()" required>
                    <option ng-repeat="access_area in inventory.access_areas.access_area" value="{{access_area.access_area_id}}">{{access_area.access_area_id}}</option>
                </select>
                <i ng-show="formSubscription.access_area_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showAccessNodes">
                <label>Access Node</label>
                <select class="form-control" ng-model="access_node_id" name="access_node_id" ng-change="listAccessInterfaces()" required>
                    <option ng-repeat="access_node in access_nodes" value="{{access_node.access_node_id}}">{{access_node.access_node_id}}</option>
                </select>
                <i ng-show="formSubscription.access_node_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showAccessInterface">
                <label>Interface</label>
                <select class="form-control" ng-model="access_if" name="access_if" required>
                    <option ng-repeat="access_interface in access_interfaces" value="{{access_interface.access_if}}">{{access_interface.access_if}}</option>
                </select>
                <i ng-show="formSubscription.access_if.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>PE Area</label>
                <select class="form-control" ng-model="pe_area_id" name="pe_area_id" required>
                    <option ng-repeat="pe_area in inventory.pe_areas.pe_area" value="{{pe_area.pe_area_id}}">{{pe_area.pe_area_id}}</option>
                </select>
                <i ng-show="formSubscription.pe_area_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>POI Area</label>
                <select class="form-control" ng-model="poi_area_id" name="poi_area_id" required>
                    <option ng-repeat="poi_area in inventory.poi_areas.poi_area" value="{{poi_area.poi_area_id}}">{{poi_area.poi_area_id}}</option>
                </select>
                <i ng-show="formSubscription.poi_area_id.$error.required">*Must be filled in</i>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formEditSubscription.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>