<div ng-include="'nav-opennet.html'"></div>

<h1>PE Areas ({{ collection.length }})</h1>
<div ng-show="!newEntry && !editEntry">
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">PE Area ID</th>
                <th width="20%">PE Area Description</th>
                <th width="15%">PE Node</th>
                <th width="15%">Interface</th>
                <th width="15%">PWHE IP Address</th>
                <th width="20%">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in collection">
                <td>{{ item.pe_area_id }}</td>
                <td>{{ item.pe_area_description }}</td>
                <td>{{ item.node.pe_node_id }}</td>
                <td>{{ item.node.pe_if }}</td>
                <td>{{ item.node.pe_pwhe_ipaddress }}</td>
                <td>
                    <a class="btn btn-primary" ng-click="editItem(item)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="collection == null">
                <td>There are no entries</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="collection != null && !newEntry && !editEntry">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-edit"> </span> Edit the area (not implemented yet).
        <span class="glyphicon glyphicon-trash"> </span> Delete the area.
    </p>
</div>
<hr>
<div ng-show="newEntry">
    <form name="formNewItem" ng-submit="generateItem()" novalidate>
        <h2 class="form-signin-heading">New PE Area Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="pe_area_id">PE Area ID</label>
                <input type="text" id="pe_area_id" class="form-control" ng-model="pe_area_id" placeholder="PE Area ID" required>
            </div>
            <div class="form-group col-md-4">
                <label for="description">PE Area Description</label>
                <input type="text" id="description" class="form-control" ng-model="description" placeholder="PE Area Description" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>PE Node</label>
                <select class="form-control" ng-model="pe_node_id" name="pe_node_id" required>
                    <option ng-repeat="device in devices" value="{{device.device_id}}">{{device.device_id}}</option>
                </select>
                <i ng-show="formNewItem.pe_node_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-3">
                <label for="pe_if">Interface</label>
                <input type="text" id="pe_if" class="form-control" ng-model="pe_if" placeholder="PE Node Interface" required>
            </div>
            <div class="form-group col-md-3">
                <label for="pe_pwhe_ipaddress">PWHE IP address</label>
                <input type="text" id="pe_pwhe_ipaddress" class="form-control" ng-model="pe_pwhe_ipaddress" placeholder="PWHE IP address" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="row actions" ng-show="!newEntry && !editEntry">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newEntryToggle()">New Service</a>
    </div>
</div>

<div ng-show="editEntry">
    <form name="formEditItem" ng-submit="editItem()" novalidate>
        <h2 class="form-signin-heading">Edit Service Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="pe_area_id">PE Area ID</label>
                <input type="text" id="pe_area_id" class="form-control" ng-model="pe_area_id" placeholder="PE Area ID" required>
            </div>
            <div class="form-group col-md-4">
                <label for="description">PE Area Description</label>
                <input type="text" id="description" class="form-control" ng-model="description" placeholder="PE Area Description" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="pe_node_id">PE Node</label>
                <input type="text" id="pe_node_id" class="form-control" ng-model="pe_node_id" placeholder="PE Node" required>
            </div>
            <div class="form-group col-md-3">
                <label for="pe_if">Interface</label>
                <input type="text" id="pe_if" class="form-control" ng-model="pe_if" placeholder="PE Node Interface" required>
            </div>
            <div class="form-group col-md-3">
                <label for="pe_pwhe_ipaddress">PWHE IP address</label>
                <input type="text" id="pe_pwhe_ipaddress" class="form-control" ng-model="pe_pwhe_ipaddress" placeholder="PWHE IP address" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>