<div ng-include="'nav-opennet.html'"></div>

<h1>Service Providers</h1>
<div ng-show="!newEntry && !editEntry">
    <h2>List of entries ({{ collection.length }}) </h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="14%">SP ID</th>
                <th width="12%">SP VLAN offset</th>
                <th width="12%">MVR VLAN </th>
                <th width="12%">MVR Receiver VLAN</th>
                <th width="16%">VLAN Pool</th>
                <th width="14%">Status</th>
                <th width="20%">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in collection">
                <td>{{ item.sp_id }}</td>
                <td>{{ item.s_vlan_offset }}</td>
                <td>{{ item.mvr_vlan }}</td>
                <td>{{ item.mvr_receiver_vlan }}</td>
                <td>{{ item.vlan_pool.start }} - {{ item.vlan_pool.end }}</td>
                <td>
                    <a class="btn btn-primary" ng-click="checkSync(item)">
                        <i class="glyphicon glyphicon-repeat"></i>
                    </a>
                    {{ item.sync_status.in_sync }}
                </td>
                <td>
                    <a class="btn btn-primary" ng-click="editItem(item)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="unDeployItem(item)">
                        <i class="glyphicon glyphicon-stop"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="reDeployItem(item)">
                        <i class="glyphicon glyphicon-play"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="collection == null">
                <td>There are no entries</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="collection != null">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-edit"> </span> Edit the SP (not implemented yet).
        <span class="glyphicon glyphicon-trash"> </span> Rollback / delete the SP (not implemented yet).
        <span class="glyphicon glyphicon-stop"> </span> Un-deploy. 
        <span class="glyphicon glyphicon-play"> </span> Re-deploy. 
        <span class="glyphicon glyphicon-repeat"> </span> Check Sync. 
    </p>
</div>
<hr>
<div ng-show="newEntry">
    <form name="formNewItem" ng-submit="generateItem()" novalidate>
        <h2 class="form-signin-heading">New Service Provider Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">SP ID</label>
                <input type="text" id="name" class="form-control" ng-model="name" placeholder="SP ID" required>
            </div>
            <div class="form-group col-md-3">
                <label for="s_vlan_offset">SP VLAN offset</label>
                <input type="number" id="s_vlan_offset" class="form-control" ng-model="s_vlan_offset" placeholder="SP VLAN offset" required>
            </div>
            <div class="form-group col-md-3">
                <label for="mvr_vlan">MVR VLAN</label>
                <input type="number" id="mvr_vlan" class="form-control" ng-model="mvr_vlan" placeholder="MVR VLAN" required>
            </div>
            <div class="form-group col-md-3">
                <label for="mvr_receiver_vlan">MVR Receiver VLAN</label>
                <input type="number" id="mvr_receiver_vlan" class="form-control" ng-model="mvr_receiver_vlan" placeholder="MVR Receiver VLAN" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="vlan_pool_start">VLAN Pool Start</label>
                <input type="number" id="vlan_pool_start" class="form-control" ng-model="vlan_pool_start" placeholder="VLAN Pool Start" required>
            </div>
            <div class="form-group col-md-3">
                <label for="vlan_pool_end">VLAN Pool End</label>
                <input type="number" id="vlan_pool_end" class="form-control" ng-model="vlan_pool_end" placeholder="VLAN Pool End" required>
            </div>
        </div>
        <h3 class="form-signin-heading">VLAN Mappings, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in VMArray">
                <div class="form-group col-md-3" ng-show="vlanMappingShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Inner VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlanMappings[z].inner_vlan" placeholder="Inner VLAN">
                    </div>
                    <div class="col-md-10">
                        <label for="headline">Outer VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlanMappings[z].outer_vlan" placeholder="Outer VLAN">
                    </div>
                    <div ng-show="numVMLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlanMapping(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[1]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[2]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[3]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[4]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[5]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[6]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[7]" ng-click="showVMLine()">Add a VLAN Mapping</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<div class="row actions" ng-show="!newEntry && !editEntry">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newEntryToggle()">New SP</a>
    </div>
</div>

<div ng-show="editEntry">
    <form name="formEditItem" ng-submit="editItem()" novalidate>
        <h2 class="form-signin-heading">Edit SP Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">SP ID</label>
                <input type="text" id="name" class="form-control" ng-model="name" placeholder="SP ID" required>
            </div>
            <div class="form-group col-md-3">
                <label for="s_vlan_offset">SP VLAN offset</label>
                <input type="number" id="s_vlan_offset" class="form-control" ng-model="s_vlan_offset" placeholder="SP VLAN offset" required>
            </div>
            <div class="form-group col-md-3">
                <label for="mvr_vlan">MVR VLAN</label>
                <input type="number" id="mvr_vlan" class="form-control" ng-model="mvr_vlan" placeholder="MVR VLAN" required>
            </div>
            <div class="form-group col-md-3">
                <label for="mvr_receiver_vlan">MVR Receiver VLAN</label>
                <input type="number" id="mvr_receiver_vlan" class="form-control" ng-model="mvr_receiver_vlan" placeholder="MVR Receiver VLAN" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="vlan_pool_start">VLAN Pool Start</label>
                <input type="number" id="vlan_pool_start" class="form-control" ng-model="vlan_pool_start" placeholder="VLAN Pool Start" required>
            </div>
            <div class="form-group col-md-3">
                <label for="vlan_pool_end">VLAN Pool End</label>
                <input type="number" id="vlan_pool_end" class="form-control" ng-model="vlan_pool_end" placeholder="VLAN Pool Start" required>
            </div>
        </div>
        <h3 class="form-signin-heading">VLAN Mappings, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in VMArray">
                <div class="form-group col-md-3" ng-show="vlanMappingShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Inner VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlanMappings[z].inner_vlan" placeholder="Inner VLAN">
                    </div>
                    <div class="col-md-10">
                        <label for="headline">Outer VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlanMappings[z].outer_vlan" placeholder="Outer VLAN">
                    </div>
                    <div ng-show="numVMLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlanMapping(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[1]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[2]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[3]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[4]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[5]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[6]" ng-click="showVMLine()">Add a VLAN Mapping</a>
            <a class="btn btn-info" ng-show="vlanMappingBtnShow[7]" ng-click="showVMLine()">Add a VLAN Mapping</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>