<div ng-include="'nav-opennet.html'"></div>

<h1>Services</h1>
<div ng-show="!newEntry && !editEntry">
    <hr>
    <div ng-repeat="sp in collection">
        <div class="row">
            <div class="col-md-4">
                <h4>Service Provider: {{ sp.sp_id }} </h4>
            </div>
            <div class="col-md-4" ng-show="!newEntry && !editEntry">
                <a class="btn btn-info " ng-click="addServiceToggle(sp)">New Service for SP {{ sp.sp_id }}</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="10%">Service ID</th>
                    <th width="20%">Service Description</th>
                    <th width="10%">QoS Profile In</th>
                    <th width="10%">QoS Profile Out</th>
                    <th width="25%">VLAN's</th>
                    <th width="15%">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="service in sp.services.service">
                    <td>{{ service.id }}</td>
                    <td>{{ service.service_description }}</td>
                    <td>{{ service.qos_profile_in }}</td>
                    <td>{{ service.qos_profile_out }}</td>
                    <td>VLAN's: <span ng-repeat="vlan in service.vlans">{{vlan.vlan}} <i ng-show="vlan.multicast"> (multicast)</i>, </span></td>
                    <td>
                        <a class="btn btn-primary" ng-click="editItem(service)">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-primary" ng-click="deleteService(sp.sp_id, service.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="collection == null">
                    <td>There are no entries</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" ng-show="collection != null">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-edit"> </span> Edit the Service (not implemented yet).
        <span class="glyphicon glyphicon-trash"> </span> Delete the Service.
    </p>
</div>
<hr>
<!-- NEW SERVICE FORM -->
<div ng-show="newService">
    <form name="formNewService" ng-submit="generateService()" novalidate>
        <h2 class="form-signin-heading">New Service for SP {{editSP.sp_id}}</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="service_id">Service ID</label>
                <input type="text" id="service_id" class="form-control" ng-model="service_id" placeholder="Service ID" required>
            </div>
            <div class="form-group col-md-6">
                <label for="service_description">Service Description</label>
                <input type="text" id="service_description" class="form-control" ng-model="service_description" placeholder="Service Description">
            </div>
            <div class="form-group col-md-3">
                <label for="qos_profile_in">QoS Profile In</label>
                <input type="text" id="qos_profile_in" class="form-control" ng-model="qos_profile_in" placeholder="QoS Profile In">
            </div>
            <div class="form-group col-md-3">
                <label for="qos_profile_out">QoS Profile Out</label>
                <input type="text" id="qos_profile_out" class="form-control" ng-model="qos_profile_out" placeholder="QoS Profile Out">
            </div>
        </div>
        <h3 class="form-signin-heading">VLAN's, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in vlanArray">
                <div class="form-group col-md-3" ng-show="vlanShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Inner VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlans[z].vlan" placeholder="Inner VLAN">
                    </div>
                    <div class="checkbox col-md-10">
                        <label>
                            <input type="checkbox" ng-model="vlans[z].multicast" id="mobilepay">Carry Multicast Service?
                        </label>
                    </div>
                    <div ng-show="numVlanLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlan(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanBtnShow[1]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[2]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[3]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[4]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[5]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[6]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[7]" ng-click="showVlanLine()">Add a VLAN</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formNewService.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="addServiceToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>
    
<!-- EDIT SERVICE FORM. NOT DONE YET -->
<div ng-show="editEntry">
    <form name="formEditItem" ng-submit="editItem()" novalidate>
        <h2 class="form-signin-heading">Edit Service Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="service_id">Service ID</label>
                <input type="text" id="service_id" class="form-control" ng-model="service_id" placeholder="Service ID" required>
            </div>
            <div class="form-group col-md-6">
                <label for="service_description">Service Description</label>
                <input type="text" id="service_description" class="form-control" ng-model="service_description" placeholder="Service Description">
            </div>
            <div class="form-group col-md-3">
                <label for="qos_profile_in">QoS Profile In</label>
                <input type="text" id="qos_profile_in" class="form-control" ng-model="qos_profile_in" placeholder="QoS Profile In" required>
            </div>
            <div class="form-group col-md-3">
                <label for="qos_profile_out">QoS Profile Out</label>
                <input type="text" id="qos_profile_out" class="form-control" ng-model="qos_profile_out" placeholder="QoS Profile Out" required>
            </div>
        </div>
        <h3 class="form-signin-heading">VLAN's, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in vlanArray">
                <div class="form-group col-md-3" ng-show="vlanShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Inner VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlans[z].vlan" placeholder="Inner VLAN">
                    </div>
                    <div class="checkbox col-md-10">
                        <label>
                            <input type="checkbox" ng-model="vlans[z].multicast" id="mobilepay">Carry Multicast Service?
                        </label>
                    </div>
                    <div ng-show="numVlanLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlan(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanBtnShow[1]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[2]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[3]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[4]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[5]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[6]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[7]" ng-click="showVlanLine()">Add a VLAN</a>
        </div>
            <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formCust.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="editToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>