<div ng-include="'nav-opennet.html'"></div>

<h1>Service Providers ({{ sps.length }})</h1>
<div ng-show="!newEntry && !newService && !newAccessNode">
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="6%">SP ID</th>
                <th width="8%">Node & Interface</th>
                <th width="8%">SP VLAN offset</th>
                <th width="6%">MVR VLAN </th>
                <th width="25%">Access Areas / Nodes</th>
                <th width="35%">Services</th>
                <th width="12%">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in sps">
                <td>{{ item.sp_id }}</td>
                <td>{{ item.node.sp_node_id }}, {{ item.node.sp_if }}</td>
                <td>{{ item.s_vlan_offset }}</td>
                <td>{{ item.mvr_vlan }}</td>
                <td>
                    <span ng-repeat="access_area in item.access_deployment.access_area">
                        <p><strong>{{ access_area.access_area_id }}</strong>, Nodes: </p>
                        <span ng-repeat="access_node in access_area.access_nodes">
                            <p>
                                <span>{{access_node.access_node_id}} (ID: {{access_node.access_node_and_sp_service_id}})</span> 
                                <a class="btn btn-primary" ng-click="deleteNode(item.sp_id, access_node.access_node_and_sp_service_id, access_node.vlanpool_id_pw, access_node.vlanpool_id_ev)">
                                <!-- <a class="btn btn-primary" ng-click="deleteNode(item.sp_id, access_node.access_node_and_sp_service_id, access_node.vlanpool_id)"> -->
                                    <i class="glyphicon glyphicon-fire"></i>
                                </a>
                            </p>
                        </span>
                    </span>
                </td>
                <td>
                    <span ng-repeat="service in item.services.service">
                        <p>
                            <strong>{{ service.id }}</strong>. VLAN's: 
                            <span ng-repeat="vlan in service.vlans">
                                <strong ng-show="vlan.multicast">{{vlan.vlan}}</strong>
                                <span ng-show="!vlan.multicast">{{vlan.vlan}}</span>, 
                            </span>
                            <a class="btn btn-primary" ng-click="deleteService(item.sp_id, service.id)">
                                <i class="glyphicon glyphicon-fire"></i>
                            </a>
                        </p>
                    </span>
                </td>
                <td>
                    <a class="btn btn-primary" ng-click="addServiceToggle(item)">
                        <i class="glyphicon glyphicon-gift"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="addAccessNodeToggle(item)">
                        <i class="glyphicon glyphicon-link"></i>
                    </a>
                    <a class="btn btn-primary" ng-click="deleteItem(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
            <tr ng-if="sps == null">
                <td></td>
                <td></td>
                <td></td>
                <td>There are no entries</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" ng-show="sps != null && !newEntry && !newService && !newAccessNode">
    <p><strong> Operations:   </strong>
        <span class="glyphicon glyphicon-trash"> </span> Delete the SP.
        <span class="glyphicon glyphicon-gift"> </span> Add a Service to the SP. 
        <span class="glyphicon glyphicon-link"> </span> Deploy the SP for an Access Node. 
        <span class="glyphicon glyphicon-fire"> </span> Remove a Service. 
    </p>
    <div class="form-group col-md-4">
        <div class="rgb_loader" ng-show="spinnerStatus"></div>
    </div>
</div>
<hr>
<div class="row actions" ng-show="!newEntry && !newService && !newAccessNode">
    <div class="col-md-4">
        <a class="btn btn-info btn-lg btn-block" ng-click="newEntryToggle()">New SP</a>
    </div>
</div>

<!-- NEW SERVICE PROVIDER FORM -->
<div ng-show="newEntry">
    <form name="formNewItem" ng-submit="generateItem()" novalidate>
        <h2 class="form-signin-heading">New Service Provider Form</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="sp_id">SP ID</label>
                <input type="text" id="sp_id" class="form-control" ng-model="sp_id" placeholder="SP ID" required>
            </div>
            <div class="form-group col-md-3">
                <label for="s_vlan_offset">SP VLAN offset</label>
                <input type="number" id="s_vlan_offset" class="form-control" ng-model="s_vlan_offset" placeholder="SP VLAN offset" required>
            </div>
            <div class="form-group col-md-3">
                <label for="mvr_vlan">MVR VLAN</label>
                <input type="number" id="mvr_vlan" class="form-control" ng-model="mvr_vlan" placeholder="MVR VLAN" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>SP Node</label>
                <select class="form-control" ng-model="sp_node_id" name="sp_node_id" required>
                    <option ng-repeat="sp_node in sp_nodes" value="{{sp_node.sp_node_id}}">{{sp_node.sp_node_id}}</option>
                </select>
                <i ng-show="formAccessNode.sp_node_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>SP Node Interface</label>
                <select class="form-control" ng-model="sp_if_id" name="sp_if_id" required>
                    <option ng-repeat="sp_if in sp_interfaces" value="{{sp_if.sp_if_id}}">{{sp_if.sp_if_id}}</option>
                </select>
                <i ng-show="formAccessNode.sp_if_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>SP Termination Type</label>
                <select class="form-control" ng-model="sp_termination_type_id" name="sp_termination_type_id" required>
                    <option ng-repeat="sp_termination_type in sp_termination_types" value="{{sp_termination_type.sp_termination_type_id}}">{{sp_termination_type.sp_termination_type_id}}</option>
                </select>
                <i ng-show="formAccessNode.sp_termination_type_id.$error.required">*Must be filled in</i>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formNewItem.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="newEntryToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<!-- NEW SERVICE FORM -->
<div ng-show="newService">
    <form name="formNewService" ng-submit="generateService()" novalidate>
        <h2 class="form-signin-heading">New Service for SP {{editSP.sp_id}}</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="service_id">Service ID</label>
                <input type="text" id="service_id" class="form-control" ng-model="service_id" placeholder="Service ID" required>
            </div>
            <div class="form-group col-md-6">
                <label for="service_description">Service Description</label>
                <input type="text" id="service_description" class="form-control" ng-model="service_description" placeholder="Service Description">
            </div>
        </div>
        <h3 class="form-signin-heading">VLAN's, Max 8</h3>
        <div class="row">
            <div ng-repeat="z in vlanArray">
                <div class="form-group col-md-3" ng-show="vlanShow[z]">
                    <div class="col-md-10">
                        <label for="headline">Inner VLAN {{z+1}}</label>
                        <input type="number" class="form-control" ng-model="vlans[z].vlan" placeholder="Inner VLAN">
                    </div>
                    <div class="checkbox col-md-10">
                        <label>
                            <input type="checkbox" ng-model="vlans[z].multicast" id="vlans[z].multicast">Carry Multicast Service?
                        </label>
                    </div>
                    <div ng-show="numVlanLines > 0" class="col-md-2">
                        <label for="headline" style="color:white;">.</label>
                        <a class="btn btn-danger" ng-click="removeVlan(z)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-info" ng-show="vlanBtnShow[1]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[2]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[3]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[4]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[5]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[6]" ng-click="showVlanLine()">Add a VLAN</a>
            <a class="btn btn-info" ng-show="vlanBtnShow[7]" ng-click="showVlanLine()">Add a VLAN</a>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formNewService.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="addServiceToggle()">Cancel</a>
            </div>
        </div>
    </form>
</div>

<!-- DEPLOY SP FOR AN ACCESS NODE FORM -->
<div ng-show="newAccessNode">
    <form name="formAccessNode" ng-submit="generateNode()" novalidate>
        <h2 class="form-signin-heading">Form: Deploy SP for an Access Node</h2>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="name">ID of the deployment</label>
                <input type="text" id="name" class="form-control" ng-model="name" placeholder="ID" required>
            </div>
            <div class="form-group col-md-2">
                <label>Access Area</label>
                <select class="form-control" ng-model="access_area_id" name="access_area_id" ng-change="listAccessNodes()" required>
                    <option ng-repeat="access_area in inventory.access_areas.access_area" value="{{access_area.access_area_id}}">{{access_area.access_area_id}}</option>
                </select>
                <i ng-show="formAccessNode.access_area_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2" ng-show="showAccessNodes">
                <label>Access Node</label>
                <select class="form-control" ng-model="access_node_id" name="access_node_id" required>
                    <option ng-repeat="access_node in access_nodes" value="{{access_node.access_node_id}}">{{access_node.access_node_id}}</option>
                </select>
                <i ng-show="formAccessNode.access_node_id.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>PE Area</label>
                <select class="form-control" ng-model="pe_area_id" name="pe_area_id" required>
                    <option ng-repeat="pe_area in inventory.pe_areas.pe_area" value="{{pe_area.pe_area_id}}">{{pe_area.pe_area_id}}</option>
                </select>
                <i ng-show="formAccessNode.pe_area_id.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-2">
                <label>POI Area</label>
                <select class="form-control" ng-model="poi_area_id" name="poi_area_id" required>
                    <option ng-repeat="poi_area in inventory.poi_areas.poi_area" value="{{poi_area.poi_area_id}}">{{poi_area.poi_area_id}}</option>
                </select>
                <i ng-show="formAccessNode.poi_area_id.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <h3>VLAN pool for subscriptions using PW</h3>
            <div class="form-group col-md-3">
                <label for="vlanpool_start">VLAN Pool Start</label>
                <input type="number" id="vlanpool_start_pw" class="form-control" ng-model="vlanpool_start_pw" placeholder="VLAN Pool Start" required>
                <i ng-show="formAccessNode.vlanpool_start_pw.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-3">
                <label for="vlanpool_stop">VLAN Pool Stop</label>
                <input type="text" id="vlanpool_stop_pw" class="form-control" ng-model="vlanpool_stop_pw" placeholder="VLAN Pool Stop" required>
                <i ng-show="formAccessNode.vlanpool_stop_pw.$error.required">*Must be filled in</i>
            </div>
        </div>
        <div class="row">
            <h3>VLAN pool for subscriptions using EVPN-VPWS</h3>
            <div class="form-group col-md-3">
                <label for="vlanpool_start">VLAN Pool Start</label>
                <input type="number" id="vlanpool_start_ev" class="form-control" ng-model="vlanpool_start_ev" placeholder="VLAN Pool Start" required>
                <i ng-show="formAccessNode.vlanpool_start_ev.$error.required">*Must be filled in</i>
            </div>
            <div class="form-group col-md-3">
                <label for="vlanpool_stop">VLAN Pool Stop</label>
                <input type="text" id="vlanpool_stop_ev" class="form-control" ng-model="vlanpool_stop_ev" placeholder="VLAN Pool Stop" required>
                <i ng-show="formAccessNode.vlanpool_stop_ev.$error.required">*Must be filled in</i>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <button ng-disabled="formAccessNode.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="col-md-4">
                <a class="btn btn-danger btn-lg btn-block" ng-click="addAccessNodeToggle()">Cancel</a>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="rgb_loader" ng-show="spinnerStatus"></div>
        </div>
    </form>
</div>
